- if option? :collapsible
  details id=id class=role open=(option? :open)
    summary
      =title || 'Details'
    .content
      =content
- else
  = block_with_caption :top, :class=>'example-block'
    .example
      =content
