- if (index = local_attr :index)
  a.footnote id=(footnoteref_id unless type == :xref) href="##{footnote_id}" title="View footnote #{index}" [#{index}]
- else
  a.footnote.broken title="Unresolved footnote reference." [#{text}]
