- if local_attr :menuitem
  - capture
    | &#160;
    b.caret &#8250;
    | &#32;
  span.menuseq
    b.menu
      =(attr :menu)
    - yield_capture
    - (attr 'submenus').each do |submenu|
      b.menu
        =submenu
      - yield_capture
    b.menu =(local_attr :menuitem)
- else
  b.menu =(attr :menu)
